[submodule "vim/janus.symlink/vim-jade"]
	path = vim/janus.symlink/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "vim/janus.symlink/vim-slim"]
	path = vim/janus.symlink/vim-slim
	url = git://github.com/slim-template/vim-slim.git
[submodule "vim/janus.symlink/vim-wakatime"]
	path = vim/janus.symlink/vim-wakatime
	url = git://github.com/wakatime/vim-wakatime.git
[submodule "vim/janus.symlink/vim-jsx"]
	path = vim/janus.symlink/vim-jsx
	url = git@github.com:mxw/vim-jsx.git
