[submodule "vim/janus.symlink/vim-jade"]
	path = vim/janus.symlink/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "vim/janus.symlink/vim-slim"]
	path = vim/janus.symlink/vim-slim
	url = git://github.com/slim-template/vim-slim.git
[submodule "vim/janus.symlink/vim-wakatime"]
	path = vim/janus.symlink/vim-wakatime
	url = git://github.com/wakatime/vim-wakatime.git
[submodule "vim/janus.symlink/vim-jsx"]
	path = vim/janus.symlink/vim-jsx
	url = git@github.com:mxw/vim-jsx.git
[submodule "vim/janus.symlink/moriarty.vim"]
	path = vim/janus.symlink/moriarty.vim
	url = git@github.com:aliou/moriarty.vim.git
[submodule "vim/janus.symlink/vim-test"]
	path = vim/janus.symlink/vim-test
	url = git@github.com:janko-m/vim-test.git
[submodule "vim/janus.symlink/vimux"]
	path = vim/janus.symlink/vimux
	url = git@github.com:benmills/vimux.git
[submodule "vim/janus.symlink/vim-php-cs-fixer"]
	path = vim/janus.symlink/vim-php-cs-fixer
	url = git@github.com:stephpy/vim-php-cs-fixer.git
[submodule "vim/janus.symlink/vdebug"]
	path = vim/janus.symlink/vdebug
	url = git@github.com:joonty/vdebug.git
